In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
categorias = pd.read_csv('category.csv', encoding='latin1')
df = categorias.copy()
df.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.4 KB

In [4]:
df.columns = [c.lower() for c in df.columns] #con esto ponemos todo en minusculas son buenas practicas

In [5]:
df.columns = df.columns.str.strip() # Ahora eliminamos espacios en blanco al principio y al final de los nombres de las columnas

In [6]:
df.duplicated().sum()  #Duplicados del DataFrame

0

In [7]:
df.tail()

    category_id    name          last_update
11           12   Music  2006-02-15 04:46:27
12           13     New  2006-02-15 04:46:27
13           14  Sci-Fi  2006-02-15 04:46:27
14           15  Sports  2006-02-15 04:46:27
15           16  Travel  2006-02-15 04:46:27

In [8]:
df[df.duplicated(["name"], keep=False)]

Empty DataFrame
Columns: [category_id, name, last_update]
Index: []

In [9]:
df[df.duplicated(["category_id"], keep=False)]

Empty DataFrame
Columns: [category_id, name, last_update]
Index: []

In [10]:
df.columns

Index(['category_id', 'name', 'last_update'], dtype='object')

In [11]:
df = df.rename(columns={'name': 'category_name'})

In [12]:
df.columns

Index(['category_id', 'category_name', 'last_update'], dtype='object')

In [13]:
new_row = {'category_id': 17}  # Aqu√≠ defino la nueva fila e intriduzco el valor "unknown"

new_df = pd.DataFrame(new_row, index=[0])
df = pd.concat([df, new_df], ignore_index=True)

In [14]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    17 non-null     int64
 1   category_name  16 non-null     object
 2   last_update    16 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.5 KB

In [15]:
df.at[16, 'category_name'] = 'Unknown'

In [16]:
df = df.drop(["last_update"], axis=1) #EMILINAR COLUMNA

In [17]:
df.tail()

    category_id category_name
12           13           New
13           14        Sci-Fi
14           15        Sports
15           16        Travel
16           17       Unknown

In [18]:
df.to_csv('../src/category_limpio.csv', index=False) # guardamos en la carpeta src el archivo limpio.

In [19]:
%pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (2.0.22)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (from SQLAlchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from sqlalchemy import create_engine

In [21]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (1.1.0)Note: you may need to restart the kernel to use updated packages.

In [22]:
import pymysql

In [23]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/movies'
cursor = create_engine(str_conn)

In [24]:
df.to_sql(name='category',
            con=cursor,
            if_exists='replace',
            index=False)

17