In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

I am going to create a new table to include the customers data since the table is missing

In [2]:
%pip install Faker

Requirement already satisfied: Faker in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (19.12.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\abeln\appdata\local\anaconda3\envs\env1\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from faker import Faker
import pandas as pd

# Creo una instancia de Faker
fake = Faker()

# Defino la longitud deseada (en este caso, 1000)
num_rows = 1000

# Crea una lista de datos ficticios
data = {
    'customer_id': list(range(1, num_rows + 1)),  # Valores ordenados del 1 al 1000
    'cu_fname': [fake.first_name() for _ in range(num_rows)],
    'cu_lname': [fake.last_name() for _ in range(num_rows)],
    'address': [fake.street_address() for _ in range(num_rows)],
    'phone': [fake.phone_number() for _ in range(num_rows)],
    'city': [fake.city() for _ in range(num_rows)],
    'state': [fake.state_abbr() for _ in range(num_rows)],
    'zip': [fake.zipcode() for _ in range(num_rows)]
}

# Creo el DataFrame
df = pd.DataFrame(data)

In [4]:
df.head()

,customer_id,cu_fname,cu_lname,address,phone,city,state,zip
0,1,Melanie,Sanders,265 Mason Valleys,(795)294-3906x76603,East Brittanyville,DC,79062
1,2,Jennifer,Bowen,564 James Trail,+1-704-847-4813x6480,Brandonville,OK,33460
2,3,James,Brown,893 Schwartz Square,+1-760-783-2435,Rodriguezstad,GU,60335
3,4,William,Horn,8960 Melissa Centers,460.687.5066x931,South Brian,MD,53345
4,5,Randall,Johnson,384 Jennifer Cliff,844-878-3101x18438,New Autumnstad,MD,61104

In [5]:
df.tail()

,customer_id,cu_fname,cu_lname,address,phone,city,state,zip
995,996,Cindy,Kerr,5531 Chelsey Station Apt. 319,244.843.8327,Farmerside,IL,74509
996,997,Samantha,Williams,4207 Douglas Highway,459.886.9379,East Cathyview,WV,37622
997,998,Lynn,Lam,200 David Forks Suite 025,713-935-2483,Williamshire,PW,11770
998,999,Justin,Jimenez,781 Cindy Land,+1-801-931-0437x887,Tiffanymouth,VT,02000
999,1000,Crystal,Burns,30612 Ford Village,+1-725-908-9069,East Danielleland,TX,78084

In [6]:
df['customer_id'].nunique()

1000

In [7]:
df.to_csv('../src/customer.csv', index=False) # guardamos en la carpeta src el archivo nuevo.

In [8]:
from sqlalchemy import create_engine
import pymysql

In [9]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/movies'
cursor = create_engine(str_conn)

In [10]:
df.to_sql(name='customer',
            con=cursor,
            if_exists='replace',
            index=False)

1000