In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
inventories = pd.read_csv('inventory.csv', encoding='latin1')
df = inventories.copy()
df.tail()

     inventory_id  film_id  store_id          last_update
995           996      222         2  2006-02-15 05:09:17
996           997      222         2  2006-02-15 05:09:17
997           998      222         2  2006-02-15 05:09:17
998           999      223         2  2006-02-15 05:09:17
999          1000      223         2  2006-02-15 05:09:17

In [3]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 97.8 KB

In [4]:
df.columns = [c.lower() for c in df.columns] #con esto ponemos todo en minusculas son buenas practicas

In [5]:
df.columns = df.columns.str.strip() # Ahora eliminamos espacios en blanco al principio y al final de los nombres de las columnas

In [6]:
df.duplicated().sum()  #Duplicados del DataFrame

0

In [7]:
df['film_id'].nunique()

207

In [8]:
df['film_id'] = df['inventory_id']

In [9]:
df.columns

Index(['inventory_id', 'film_id', 'store_id', 'last_update'], dtype='object')

In [10]:
df = df.drop(['last_update'], axis=1) #EMILINAR COLUMNA

In [11]:
df = df.drop(['store_id'], axis=1) #EMILINAR COLUMNA

In [12]:
df.tail()

     inventory_id  film_id
995           996      996
996           997      997
997           998      998
998           999      999
999          1000     1000

In [13]:
df.to_csv('../src/inventory_limpio.csv', index=False) # guardamos en la carpeta src el archivo limpio.

In [ ]:
%pip install SQLAlchemy
%pip install pymysql

In [14]:
from sqlalchemy import create_engine
import pymysql

In [15]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/movies'
cursor = create_engine(str_conn)

In [16]:
df.to_sql(name='inventory',
            con=cursor,
            if_exists='replace',
            index=False)

1000