In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
languages = pd.read_csv('language.csv', encoding='latin1')
df = languages.copy()
df.tail(6)

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [3]:
df['name'].unique()

array(['English', 'Italian', 'Japanese', 'Mandarin', 'French', 'German'],
      dtype=object)

In [4]:
df.columns = [c.lower() for c in df.columns] #con esto ponemos todo en minusculas son buenas practicas

In [5]:
df.columns = df.columns.str.strip() # Ahora eliminamos espacios en blanco al principio y al final de los nombres de las columnas

In [6]:
df.duplicated().sum()  #Duplicados del DataFrame

0

In [7]:
df.head(6)

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [8]:
df = df.drop(['last_update'], axis=1) #EMILINAR COLUMNA

In [9]:
df = df.rename(columns={'name': 'language_name'})

In [10]:
df.head(6)

   language_id language_name
0            1       English
1            2       Italian
2            3      Japanese
3            4      Mandarin
4            5        French
5            6        German

In [11]:
df.to_csv('../src/language_limpio.csv', index=False) # guardamos en la carpeta src el archivo limpio.

In [12]:
from sqlalchemy import create_engine
import pymysql

In [13]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/movies'
cursor = create_engine(str_conn)

In [14]:
df.to_sql(name='language',
            con=cursor,
            if_exists='replace',
            index=False)

6