In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

I am going to create a new table to include the customers data since the table is missing

In [2]:
from faker import Faker
import pandas as pd

# Creo una instancia de Faker
fake = Faker()

# Defino la longitud deseada (en este caso tengo 2 empleados
num_rows = 2

# Crea una lista de datos ficticios
data = {
    'staff_id': list(range(2)),  # Valores ordenados del 1 al 485
    's_fname': [fake.first_name() for _ in range(2)],
    's_lname': [fake.last_name() for _ in range(2)],
    's_address': [fake.street_address() for _ in range(2)],
    's_phone': [fake.phone_number() for _ in range(2)],
    's_city': [fake.city() for _ in range(2)],
    's_state': [fake.state_abbr() for _ in range(2)],
    's_zip': [fake.zipcode() for _ in range(2)]
}

# Creo el DataFrame
df = pd.DataFrame(data)

In [3]:
df.head()

,staff_id,s_fname,s_lname,s_address,s_phone,s_city,s_state,s_zip
0,0,Theresa,Buckley,378 Karen Forks,886-572-6162x9554,East Crystalville,VI,12673
1,1,Bonnie,Chapman,651 Christopher Islands,336-330-2977x8768,Huangberg,MS,21680

In [4]:
df['staff_id'].nunique()

2

In [5]:
df.to_csv('../src/staff.csv', index=False) # guardamos en la carpeta src el archivo nuevo.

In [6]:
from sqlalchemy import create_engine
import pymysql

In [7]:
str_conn = f'mysql+pymysql://root:a1b2e3l4_IRONHACK@localhost:3306/movies'
cursor = create_engine(str_conn)

In [8]:
df.to_sql(name='staff',
            con=cursor,
            if_exists='replace',
            index=False)

2